name: Feature Branch Test

on:
  pull_request:
    paths:
      - "*.tf"
      - "modules/**/*.tf"
      - "tests/**/*.tf"
    types:
      - opened
      - synchronize
      - reopened
      - closed
    branches-ignore:
      - renovate/*

  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  feature_deploy:
    if: (github.event_name == 'pull_request' && github.event.action != 'closed' && github.triggering_actor != 'renovate[bot]') || github.event_name == 'workflow_dispatch'
    uses: DND-IT/github-workflows/.github/workflows/tf-feature.yaml@v3
    with:
      environment: examples
      tf_dir: tests/main

  feature_destroy:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    uses: DND-IT/github-workflows/.github/workflows/tf-cleanup.yaml@v3
    with:
      environment: examples
      tf_dir: tests/main
