{{/* Title of the Pagerduty alert */}}
{{ define "pagerduty.title" -}}
[{{ .Status | toUpper -}}
{{ if eq .Status "firing" }} | {{ end -}}
{{- if .CommonLabels.environment }}
{{- .CommonLabels.environment -}}
{{- end -}}
{{- if .CommonLabels.team -}}
:{{- .CommonLabels.team -}}
{{- end -}}
] {{ .CommonLabels.alertname }}
{{- end }}

{{/* Common labels for Pagerduty alerts */}}
{{ define "pagerduty.labels" -}}
{{- if .CommonLabels.kind }}
Kind: {{ .CommonLabels.kind }}
{{- end }}
{{- if .CommonLabels.environment }}
Environment: {{ .CommonLabels.environment }}
{{- end }}
{{- if .CommonLabels.team }}
Team: {{ .CommonLabels.team }}
{{- end }}
{{- if .CommonLabels.cluster }}
Cluster: {{ .CommonLabels.cluster }}
{{- end }}
{{- end }}

{{ define "pagerduty.details" -}}
{{- template "pagerduty.labels" . }}
{{- if .CommonAnnotations.description }}
Description: {{ .CommonAnnotations.description }}
{{- end}}
{{- if .Alerts.Firing }}
Firing: {{ .CommonLabels.alertname }}
{{- end}}
{{- if .Alerts.Resolved }}
Resolved: {{ .CommonLabels.alertname }}
{{- end}}
{{- end }}
